[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
litestar = "*"
aiofiles = "*"
pandas = "*"
scikit-learn = "*"
langchain-core = "*"
prefect = "*"
flask-mail = "*"
quantlib = "*"
spacy = "*"
statsmodels = "*"
opencv-python = "*"
numpy = "*"
pillow = "*"
pyfakefs = "*"

[dev-packages]

[requires]
python_version = "3.11"
